$color-background-dark: #edf2ec;
$color-background-light: #fff;
$color-hover: #e06733;
$color-tittle-welcome: #717171;

$color-text-dark: #000;
$color-text-nav: #010201;
$color-text-main: #636060;
$color-text-span: #499a18;

$content-width: 1440px;
$content-padding: 110px;
$content-padding-tablet: 55px;

$netbook-width: 1024px;
$tablet-width: 768px;
$mobile-width: 380px;

$font-sans-serif: "Inter", sans-serif;
$font-serif: "Inika", serif;
$font-size-nav: 16px;
