footer {
  display: flex;
  width: 1440px;
  height: 100%;
  padding: 0 112px 0 109px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #000000;
}

.footer-wrapper {
  width: 100%;
  height: 130px;
}
.footer__data {
  display: flex;
  column-gap: 20px;
}
.footer__data > a {
  transition: 0.4s;
}
.footer__data > a:hover {
  color: #e06733;
  text-decoration: underline;
}
.footer__school {
  padding-left: 15px;
}
.footer__social {
  display: flex;
  column-gap: 30px;
  align-items: center;
}

.footer__social_inst,
.footer__social_facebook,
.footer__social_twitter,
.footer__social_pinterest {
  display: flex;
  height: 27px;
  background-size: cover;
  transition: 0.4s;
}

.footer__social_inst {
  width: 27px;
  background-image: url("../assets/insta.svg");
}
.footer__social_facebook {
  width: 17px;
  background-image: url("../assets/face.svg");
}
.footer__social_twitter {
  width: 27px;
  height: 22px;
  background-image: url("../assets/tvit.svg");
}
.footer__social_pinterest {
  width: 27px;
  margin-left: -5px;
  background-image: url("../assets/pinterest.svg");
}

.footer__social_inst > a,
.footer__social_facebook > a,
.footer__social_twitter > a,
.footer__social_pinterest > a {
  width: 100%;
  height: 100%;
}
.footer__social_inst:hover,
.footer__social_facebook:hover,
.footer__social_twitter:hover,
.footer__social_pinterest:hover {
  transform: scale(1.1);
  filter: invert(44%) sepia(97%) saturate(1096%) hue-rotate(342deg)
    brightness(94%) contrast(87%);
}
