.welcome-wrapper {
  width: 100%;
  height: 532px;
  background: #edf2ec;
}
.welcome {
  padding: 62px 109px;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-style: normal;
}
.welcome__img {
  width: 450px;
  background-image: url("../assets/welcome.png");
  background-size: 100%;
  background-position: center;
}
.welcome__content {
  width: 550px;
  padding-top: 36px;
}
.welcome__content_tittle {
  margin-bottom: 4;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  margin-bottom: 44px;
  color: #717171;
}

.welcome__content_text {
  width: 525px;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: #636060;
  margin-bottom: 46px;
}
.welcome__content_button {
  width: 158px;
  height: 44px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  border: 2px solid #e06733;
  border-radius: 10px;
  transition: 0.4s;
}
