@import "./styles/header.css";
@import "./styles/welcome.css";
@import "./styles/about.css";

:root {
  --main-color-blue: #edf2ec;
  --main-color-white: #fff;
  --green: #499a18;
  --orange: #e06733;
  --grey: #717171;
  --dark-grey: #636060;
}

body {
  background: var(--white);
  width: 100%;
}
