@import "./styles/header.css";
@import "./styles/welcome.css";
@import "./styles/about.css";
@import "./styles/service.css";

html {
  scroll-behavior: smooth;
}

body {
  background: white;
  width: 100%;
}
