html {
  scroll-behavior: smooth;
}

body {
  background: $color-background-light;
  width: 100%;
}
section {
  width: $content-width;
  margin: 0 auto;
}
span {
  color: $color-text-span;
}
button:hover {
  background: $color-hover;
  color: $color-background-light;
  cursor: pointer;
}
