.prices-wrapper {
  @extend %wrapper-light;
}

.prices {
  @include flex-parent($align-items: flex-start);
  @extend %font-sans-serif;
  color: $color-text-dark;
  padding: 39px $content-padding 94px;

  @include media-netbook {
    padding: 40px $content-padding-tablet 97px;
  }
  @include media-tablet {
    padding: 25px $content-padding-mobile 40px;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    row-gap: 20px;
  }

  &-left {
    @include flex-parent(column, start, flex-start);
    row-gap: 60px;

    @include media-netbook {
      row-gap: 58px;
    }
    @include media-tablet {
      align-items: center;
      row-gap: 38px;
    }

    &_tittle {
      @include font(700, 40px, 48px);

      @include media-netbook {
        @include font(700, 35px, 42px);
        padding-left: 15px;
      }

      @include media-tablet {
        @include font(700, 25px, 30px);
        padding-left: 1px;
      }
    }
  }

  &-right {
    @include flex-parent(
      $flex-direction: column,
      $justify-content: start,
      $align-items: flex-end
    );
    row-gap: 40px;

    @include media-netbook {
      padding-top: 100px;
      row-gap: 29px;
    }
    @include media-tablet {
      padding-top: 0;
      row-gap: 20px;
      align-items: center;
    }

    &_tittle {
      @include font(700, 40px, 50px);
      max-width: 452px;
      text-align: right;

      @include media-netbook {
        @include font(700, 25px, 35px);
        max-width: 296px;
      }
      @include media-tablet {
        @include font(700, 20px, 35px);
        max-width: 230px;
        text-align: center;
      }
    }

    &_button {
      @include button(162px, 50px, 5px);
      @include font(700, 20px, 26px);
      @extend %transition;
      @extend %font-serif;
      border: 1px solid $color-hover;
      color: $color-hover;

      @include media-tablet {
        @include button(121px, 35px, 5px);
        @include font(700, 15px, 20px);
      }
    }

    &_image {
      margin: -5px 5px 0px 0;
      width: 152px;
      height: 175px;
      background-image: url("../assets/prices-img.png");

      @include media-tablet {
        display: none;
      }
    }
  }
}

.accordion {
  @include flex-parent(column, start, flex-start);
  width: 332px;
  border: 1px solid #e3e1d5;
  border-radius: 20px;
  padding: 34px 41px;
  row-gap: 33px;
  align-items: center;

  @include media-tablet {
    width: 224px;
  }
  @include media-tablet {
    padding: 0;
    justify-content: center;
    row-gap: 14px;
  }

  &__item {
    @extend %transition;
    @include flex-parent(column, start, flex-start);
    width: 100%;

    &_close {
      @include flex-parent;
      width: 100%;
      padding: 14px 40px;
      background: $color-background-dark;
      border-radius: 20px;

      p {
        @extend %font-sans-serif;
        @include font(700, 20px, 20px);
        padding-top: 2px;

        @include media-tablet {
          @include font(700, 15px, 20px);
        }
      }

      div {
        transition: 2s;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        position: relative;
        background: #d9d9d9;

        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background-image: url("../assets/arrow.svg");
          background-size: 12px 8px;
          background-repeat: no-repeat;
          background-position: center;
        }
        &:hover {
          border: 1px solid $color-hover;
        }
        &:active {
          background: $color-accordion-button-open;
        }

        @include media-tablet {
          margin-top: 4px;
        }
      }
      &.active {
        background: $color-accordion-open;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        div {
          background: $color-accordion-button-open;
          &::before {
            width: 0;
            height: 0;
          }
          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: url("../assets/arrow.svg");
            transform: rotate(-180deg);
            transition: 2s;
            background-size: 12px 8px;
            background-repeat: no-repeat;
            background-position: center;
            filter: brightness(0) saturate(100%) invert(99%) sepia(95%)
              saturate(2%) hue-rotate(317deg) brightness(116%) contrast(100%);
          }
        }
      }
    }

    &_open {
      display: none;
      @extend %font-sans-serif;
      position: relative;
      width: 100%;
      padding: 0 40px 12px;
      background: $color-accordion-open;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;

      .description {
        @include font(300, 10px, 10px);
        padding: 6px 0;
        color: $color-tittle-welcome;
      }

      .price {
        @include font(400, 12px, 20px);
        padding: 0 0 12px;
        color: $color-text-dark;

        span {
          font-weight: 700;
          color: $color-hover;
        }
      }

      button {
        @include font(700, 14px, 20px);
        @include flex-parent($align-items: center);
        width: 86px;
        height: 25px;
        border-radius: 10px;
        background-color: $color-background-light;
        color: $color-tittle-welcome;

        a {
          display: block;
          width: 100%;
          height: 100%;
        }
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 40px;
        width: 164px;
        height: 1px;
        background-color: $color-accordion-button-open;
      }

      &.active {
        @include flex-parent(column, start, flex-start);
      }
    }

    //@include media-tablet {
    //  width: 180px;
    //  padding: 0;
    //}
    //@include media-tablet {
    //  padding: 0 39px 0 31px;
    //}

    //&:hover {
    //  cursor: pointer;

    //  & > .accordion__item_button {
    //    border: 1px solid $color-hover;
    //    transform: scale(1.2);
    //  }
    //}
  }
}
