.service-wrapper {
  @extend %wrapper-dark;
}
.service {
  @include flex-parent(column, start, flex-start);
  padding: 40px $content-padding 121px;
  row-gap: 80px;

  @include media-netbook {
    padding: 60px $content-padding-tablet 70px;
    row-gap: 29px;
  }
  @include media-tablet {
    padding: 60px $content-padding-mobile 90px;
    row-gap: 39px;
  }
  @include media-mobile {
    padding: 30px $content-padding-mobile 27px;
  }

  &__content {
    @extend %font-serif;
    @include flex-parent();
    flex-wrap: wrap;
    column-gap: 142px;
    row-gap: 43px;

    @include media-tablet {
      row-gap: 38px;
    }

    &-tittle {
      @include font(400, 40px, 52px);
      width: 306px;
      color: $color-text-span;

      @include media-netbook {
        @include font(400, 35px, 46px);
      }
      @include media-tablet {
        @include font(400, 25px, 33px);
        width: 187px;
      }
    }

    &-buttons {
      @include flex-parent();
      flex-wrap: wrap;
      row-gap: 9px;
      column-gap: 37px;
      padding-bottom: 10px;

      @include media-tablet {
        justify-content: start;
        column-gap: 10px;
        padding-bottom: 0;
      }
    }

    .service-button {
      @extend %transition;
      @include font(400, 20px, 26px);
      @include button(161px, 50px, 5px);
      margin-top: 15px;
      border: 1px solid $color-hover;
      color: $color-hover;

      &.active {
        background: $color-hover;
        color: $color-background-light;
        cursor: pointer;
      }

      @include media-netbook {
        margin-top: 0;
      }
      @include media-tablet {
        @include button(121px, 35px, 5px);
        @include font(400, 15px, 20px);
      }
    }
  }
}

.services {
  @extend %font-sans-serif;
  @include flex-parent($justify-content: center);
  flex-wrap: wrap;
  column-gap: 116px;
  row-gap: 55px;

  @include media-netbook {
    column-gap: 107px;
    row-gap: 38px;
  }
  @include media-tablet {
    row-gap: 34px;
  }
}
.service-item {
  @include flex-parent(column, start, center);
  @extend %transition;
  width: 329px;
  height: 450px;
  border-radius: 20px;
  border: 1px solid #e3e1d5;
  row-gap: 10px;
  overflow: hidden;

  &.blur {
    filter: blur(5px);
  }

  @include media-netbook {
    width: 280px;
    row-gap: 8px;
  }
  //@include media-tablet {
  //}

  &:hover {
    cursor: pointer;
    border: 1px solid $color-hover;
    transform: scale(1.1);
  }
  .image-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 350px;
    overflow: hidden;
  }
  &_img {
    object-fit: cover;
    min-height: 100%;
    min-width: 100%;
  }

  &_tittle {
    @include font(700, 20px, 20px);
    color: $color-hover;
  }

  &_text {
    @include font(400, 16px, 20px);
    color: $color-tittle-welcome;
    margin-top: 6px;

    @include media-netbook {
      padding: 0 37px;
      text-align: center;
    }
  }
}
